.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #d5e9ee;

	.wrapper {
		max-width: 550px;
		max-height: 650px;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background-color: #ffffff;
		position: relative;

		.content {
			padding: 12px;
		}
	}
}

.title {
	margin: 12px;
	font-size: 48px;
	font-weight: bold;
}

.list {
	max-height: 420px;
	overflow-y: scroll;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 12px 0;
	padding: 8px;
	color: #999999;

	.center {
		display: flex;
		align-items: center;
		font-size: 18px;

		.icon {
			margin-right: 8px;
		}
	}

	.icon:hover {
		cursor: pointer;
	}

	.delete:hover {
		color: #ed4a61;
	}
}

.input {
	position: absolute;
	bottom: 0px;
	background-color: #f6f6f6;
	width: 100%;
	max-height: 150px;
	height: 100%;
	border-radius: 15px;
	padding: 24px 12px;

	input {
		width: 100%;
		padding: 12px;
		outline: none;
		border: 1px solid #f1f1f1;
	}
}

.btn__area {
	position: absolute;
	bottom: -35px;
	left: 50%;
	transform: translateX(-50%);
	color: white;

	.createBtn {
		background-color: #80e36c;
		border-radius: 50%;
		transition: transform 240ms ease-in-out;
	}

	.toggle {
		transform: rotate(45deg);
		background-color: #f17384;
	}
}

.btn__area:hover {
	cursor: pointer;
}
